* {
    padding: 0;
    margin: 0;
}
* {list-style: none;
}
.cuerpo {
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: map-get($colores, color-principal)
}

.principal {
    width: 100%;
    margin-top: 10vw;
    margin-bottom:10vw;
}
.body {
    min-height: 100vh;
    overflow-x: hidden;
}