*, ::after, ::before {
    box-sizing: border-box;
}
.imagen__celular {
    width: 40vw;
    height: 45vw;
    margin-bottom: 10vw;
    filter: blur(0);
    transition: all 0.5s linear;
    &:hover {
    filter: blur(20px)
    }
}
.cont__imagenqr {
 @extend %flex-center;
}

.contenedorTitulodos {
    margin-top: 20vw;
    margin-bottom: 10vw;  
} 
.faqsss {
    position: relative;
    width: 100%;
    padding: 45px 0;
    background-color: #b5b5b51c;
}
.sectionfuncionamiento-header {
    h2 {
        color: white;
    }
}
.subtitle-funcionamiento {
    font-weight: bolder;
    color: rgb(141, 173, 238);
}
.text-funcionamiento {
    color: white;
}
.tituloDos{
    transition: all 300ms;
    
}
.tituloDos:hover {
    font-size: 3vw;
}
.gauchos__destacados {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card {
    transition: all 0.2s ease;
    cursor: pointer;
    &:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
    }
}

/* SECCION FINAL Y FOOTER----- */
.section-suscribe {
    background-color:#b5b5b51c;
    padding: 5em 0;
    h2 {
        color: rgb(141, 173, 238);
    }
}
.form-control {
    outline: none;
    box-shadow: none !important;
    height: 50px;
    &:focus {
    box-shadow: 0 3px 10px #000 !important; 
    }
}
.form-control:focus, .form-control:active {
    outline: none;
}
.btn {
 box-shadow: 0 3px 10px #000 !important;
} 
.btn.btn-secondary {
    color: #fff;
    border-width: 2px;
    background: #264189;
    border-color: #264189;
    padding: 10px;
}

/*********************
 *    MEDIA QUERIE   *
 *********************/ 
 @media only screen and (max-width:414px) {

    .logo {
        width: 80%;
        display: flex;
        justify-content:center;
    }
    .cabecera__imagen {
        width: 40vw;
    }
    .seccionUno {
        display: flex;
        flex-direction: column !important;
    }
    .contenedorCelu {
        display: none;
    }
    .tituloDos{
     font-size:6vw;
    transition: all 300ms;
    
}
.tituloDos:hover {
    font-size: 6vw;
}
.caras{
    width: 20vw;
    height: 20vw;
    border-radius:40vw;
} 
 }
 
/* ------------------------------------ */
@media only screen and (max-width:375px) {

    /* Index */
    .logo {
        width: 80%;
        display: flex;
        justify-content:center;
    }
    .cabecera__imagen {
        width: 40vw;
    }
    .seccionUno {
        display: flex;
        flex-direction: column !important;
    }
    .contenedorCelu {
        display: none;
    }
    .tituloDos{
     font-size:6vw;
    transition: all 300ms;
    
}
.tituloDos:hover {
    font-size: 6vw;
}
.caras{
    width: 20vw;
    height: 20vw;
    border-radius:40vw;
} 
}