.serviciosSection {
     width: 100vw;
     display: flex;
     flex-direction: column;
     margin-top: 20vw;
 }
   
 .serviciosTitulo1 {
     width: 100vw;
     margin-bottom: 3vw;
     text-align: center;
     color: white;
 }
.input-group {
    display: flex;
    justify-content: center;
 }
.form-outline {
    width: 30vw;
}
.servicios {
    margin-top: 15vw;
    margin-bottom: 6vw;

}
.serviciosContenedorIconos1 {
    @extend %flex-center;
   justify-content: space-around;
   padding-left: 5vw;
}
.serviciosContenedorIconos1 a i {
    color: black;
    transition: 300ms;
    &:hover {
    font-size: 9vw;
    }
}

.serviciosContenedorTextoIcon1 {
@include flexbox (row,center,center);
   justify-content: space-around;
   padding-left: 5vw;
   padding-top: 2vw;
   color: white;
}
.serviciosContenedor2 {
    @extend %flex-center;
   justify-content: space-around;
   padding-top: 6vw;
   padding-left: 5vw;
}
.serviciosContenedor2 a i {
    color: black;
    transition: 300ms;
    &:hover {
        font-size: 9vw;
    }
}
.serviciosContenedorTextoIcon2 {
    @include flexbox (row,center,center);
   justify-content: space-around;
   padding-left: 3vw;
   padding-top: 2vw;
   color: white;
}

/*********************
 *    MEDIA QUERIE   *
 *********************/ 
@media only screen and (max-width:414px) {
.form-outline {
width: 50vw
}
.serviciosContenedorIconos1 a i {
    font-size: 12vw;
}
.serviciosContenedorIconos1 a i:hover{
    font-size: 12vw;
}
.serviciosContenedorTextoIcon1 h3 {
    font-size: 5vw;
}
.serviciosContenedor2 a i {
    font-size: 12vw;
}
.serviciosContenedor2 a i:hover{
    font-size: 12vw;
}
.serviciosContenedorTextoIcon2 h3 {
    font-size: 5vw;
}
}
